body {
    font-family:  Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;


}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}
.text {
    font-size: 20px;
    color: white;
    transition: all 0.3s ease;
    margin-bottom: 100px;
    margin-left: 100px;
}
.large-blue {
    font-size: 28px;
    color: rgb(255, 189, 57);
    font-weight: bold;
}
.buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}
.button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    margin-right: 10px;

}
.change {
    background-color: black;
    color: white;
}
.reset {
    background-color: orange;
    color: white;
}
#index {
    background: url(imgjpg.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
